---
title: Drafts
---

<% unless ENV["SHOW_DRAFTS"] %>
  <% drafts.each do |article| %>
  <article class="">
    <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    <span class="postDetails clearfix"><time datetime="<%= article.date.strftime('%m-%Y') %>" class="date details"><%= article.date.strftime('%b %e %Y') %></time></span>
    <%= article.summary %>
    <p class="readmore details"><a href="<%= article.url %>"<i class="icon-share-alt"></i> Read More</a></p>
  </article>
  <% end %>
<% end %>